body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
   animation-name: gradient;
   animation-iteration-count: infinite;
   animation-duration: 10s;
   margin-top: 40px; 
}

@keyframes gradient{
    from {box-shadow: 10px 10px 15px slateblue;}
    to {box-shadow: 10px, 10px, 15px, yellowgreen;}
}

p{
    font-size: 15px;
    font-weight: bolder;
}